body{
    font-size: 1.5rem;
    margin-left: 70px;
    background-color: lightblue;
}

.button{
    font-size: 2rem;
    background-color: red;
    color: black;
    border: 3px solid black;
}

h1{
    font-size: 3rem;
    text-align: center;
}