body {
  height: 100vh;
  background-color: lightblue;
}
canvas {
  margin: 0 auto;
  display: block;
  background-color: white;
}

.popup {
  display: none;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #000;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
}

.popup.show {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.button:hover {
  background-color: #45a049;
}

#life-bar{
  position: absolute;
  left: 90%;
  top: 10px;
  background-color: #f44336;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 24px;
}
